<a href="https://colab.research.google.com/github/beatricexc/Python-Party/blob/main/Nested_Loops_and_Patterns_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Level 0: Print 0-2 three times one after the other**

In [3]:
#introductory for loop
for i in range(3):
  for j in range (3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

**Create a list of integer tasks dates Jan 2010 - Dec 2011** 
Integer data example: Jan 2010--> 201001

In [14]:
Dates = []
start = 201001

for i in range(2):
  for j in range(12):
      Dates.append(start+j)
  start = start + 100 #the start value is being reset by adding 100 once the loop has finished iterating the first round of 12 values
Dates

[201001,
 201002,
 201003,
 201004,
 201005,
 201006,
 201007,
 201008,
 201009,
 201010,
 201011,
 201012,
 201101,
 201102,
 201103,
 201104,
 201105,
 201106,
 201107,
 201108,
 201109,
 201110,
 201111,
 201112]

**Building a Triangle**

In [16]:
#Understanding the argument
for i in range(3):
  print('#', end='')

###

**Build the Triangle**

In [18]:
for i in range(3):
  for j in range(i):
    print('#', end='')
  print('#')

#
##
###

**Building a pyramid**

In [19]:
for i in range(3):
  for j in range(3-i):
    print(' ', end='')
  print('#')

   #
  #
 #

In [26]:
x = int(input('Define size of pyramid: '))
for i in range(x):
  for j in range(x-i):
    print(' ', end='')
  for j in range(i):
    print('#', end='')
  for j in range(i):
    print('#', end='')
  print('#')

Define size of pyramid: 17
                 #
                ###
               #####
              #######
             #########
            ###########
           #############
          ###############
         #################
        ###################
       #####################
      #######################
     #########################
    ###########################
   #############################
  ###############################
 #################################

**Nested List Comprehension**

In [28]:
for i in range(3):
  for j in range(3):
    print(j)

nestedlist = [[j for j in range(3)] for i in range(3)]
nestedlist

0
1
2
0
1
2
0
1
2

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]